@import url("/assets/null.css");
@import url("/assets/fonts.css");
@import url("/audio-player/audio-player.css");
@import url("/audio-filter/audio-filter.css");
@import url("/audio-list/audio-list.css");
@import url("/audio-form/audio-form.css");

/* * {
  outline: 1px solid green !important;
} */
:root {
  --background-color: #0f0817;
  --white-color: #fff;
  --violet-color: #7150d0;
  --violet-color-rgb: rgb(113, 80, 208);
  --background-color-rgb: rgb(255, 255, 255, 0.06);
  --pink-color: #e75480;
  --dark-purple: 	#301934;
}

html,
body {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--white-color);
}

.wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}






