.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-input {
    padding: 15px 20px 15px 45px;
    background-color: var(--background-color-rgb);
    width: 100%;
    border-radius: 12px;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 300;
    background-image: url("/assets/images/svg/search.svg");
    background-repeat: no-repeat;
    background-position: left 10px center;
} 

.block-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.block-btns-filter{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.btn-filter {
    color: var(--white-color);
    background-color: var(--background-color-rgb);
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
}

.open-window-add{
    border-radius: 50%;
    background-color: #013220;
    width: 20px;
    height: 20px;
    position: relative;
}
.open-window-add::before,
.open-window-add::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 8px;
    background-color: var(--white-color);
    top: 50%;
    left: 50%;
}
.open-window-add::before{
    transform: translateY(-50%) translateX(-50%);
}
.open-window-add::after{
    transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
  
.result-null{
    display: none;
    font-size: 14px;
    padding: 15px;
}

.active{
    background-color: var(--pink-color);
}



.select-items{
    margin-top: 40px;
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    border-radius: 5px;
    z-index: 100;
    height: 200px;
    width: 300px;
    overflow-y: scroll;
    background-color: var(--dark-purple);
}
.select-items::-webkit-scrollbar {
    width: 3px;
}
.select-items::-webkit-scrollbar-thumb {
    background: var(--pink-color);
    border-radius: 5px;
}

.select-items .btn-filter:hover {
    background-color: var(--pink-color)
}

.hiden {
    display: none;
}