
<div class="audio-player-content">
      <div class="volume-block">
        <button id="volume-dtn" class="volume-dtn" type="button">
          <img id="volume-img" class="volume-img" src="/assets/images/svg/on_volume.svg" alt="#">
        </button>
        <input id="volume" class="volume" type="range" min="0" max="1" step="0.01" value="1">
      </div>

      <div class="block-img-modal">
        <img id="img-modal" class="img-modal" alt="#"></img>
      </div>

      <div id="title-modal"></div>

      <div id="author-modal"></div>
      
      <audio id="audio-modal"></audio>

      
      <input id="progress" class="progress" type="range" min="0" max="100" value="0">
    
      <p id="time"></p>
     
      <div class="controls">
          <button id="btn-random" class="btn-random" type="button">
            <img class="img-random" src="/assets/images/svg/random.svg" alt="#">
          </button>
          <button id="btn-prev-modal" class="btn-prev-play">
            <img class="img-prev-play" src="/assets/images/svg/prev.svg" alt="#">
          </button>
          <button id="btn-play-or-stop" class="btn-play-or-stop" type="button">
            <img  id="img-play-or-stop" class="img-play-or-stop" src="/assets/images/svg/pause.svg" alt="#">
          </button>
          <button id="btn-next-modal" class="btn-next-play">
            <img class="img-next-play" src="/assets/images/svg/next.svg" alt="#">
          </button>
          <button id="btn-restart" class="btn-restart" type="button">
            <img class="img-restart" src="/assets/images/svg/restart.svg" alt="#">
          </button>
      </div>
    </div>


