.search-input {
  padding: 15px 20px 15px 45px;
  background-color: var(--background-color-rgb);
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  color: var(--white-color);
  font-weight: 300;
  background-image: url('/assets/images/svg/search.svg');
  background-repeat: no-repeat;
  background-position: left 10px center;
}

.block-filter {
  display: flex;
  gap: 5px;
}
.block-filter .btn-filter {
  width: 100%;
}

.genres-items-block {
  display: flex;
  flex-wrap: wrap;
}
.genres-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.genres-items .btn-filter {
  width: 100%;
  flex: 1 1;
}

.btn-filter {
  color: var(--white-color);
  background-color: var(--background-color-rgb);
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
}

.active {
  background-color: var(--pink-color);
  opacity: 0.9;
}
