.form {
    display: none;
    gap: 10px;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--background-color);
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.title-form,
.author-form,
.genre-form,
.custom-button,
.btn-form {
    color: var(--white-color);
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background-color-rgb);
}

.option{
    color: var(--white-color);
    background-color:  var(--dark-purple);
}

/* btns */
.btns-close-and-add{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.preview-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-preview {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-preview img {
   
    max-width: 100%;
    max-height: 100%;
}
input[type="file"] {
    display: none;
}
.custom-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}