.item-song {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  cursor: pointer;
  background-color: var(--background-color-rgb);
  padding: 10px;
  border-radius: 10px;
}

.block-text-song {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
}
.title-song {
  font-size: 18px;
  margin-bottom: 10px;
}

.author-song {
  font-size: 14px;
  color: #ccc;
}
.genre-song {
  font-size: 12px;
  color: pink;
}

.img-song {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 3px;
  margin-bottom: 10px;
  gap: 5px;
}

.btn-edit,
.btn-delete,
.btn-heart {
  background: none;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img-edit,
.img-delete,
.img-heart {
  width: 100%;
  height: 100%;
}

.img-edit {
  filter: invert(22%) sepia(73%) saturate(6307%) hue-rotate(177deg)
    brightness(91%) contrast(88%);
}
.img-delete {
  filter: invert(51%) sepia(34%) saturate(1133%) hue-rotate(320deg)
    brightness(98%) contrast(106%);
}

.img-heart {
  filter: invert(75%) sepia(100%) saturate(333%) hue-rotate(288deg)
    brightness(102%) contrast(103%);
}
